prompt 0
timeout 1
default install
label install
	menu label ^Install
	menu default
	kernel linux
	append vga=normal initrd=initrd.gz
	# append vga=normal initrd=initrd.gz -- console=ttyS1,115200n8
